<% breadcrumb :users_show %>

<div class='contents'>
  <%= render "shared/side_hedder" %>

  <div class='user-rooms'>
    <h1 class='show-name'><%= @nickname %>さんのマイページ</h1>

    <hr class="dm">
    <h1 class='show-name'>募集履歴</h1>
    <% @rooms.each do |room| %>
      <%= link_to room_path(room.id) do %>
      <h2 class="img-title"><%= room.title %><br></h1>
      <div class="content_post" >
        <div class="content_image" >
          <%= image_tag room.image, :size => '300x200', class: "room-img" %>
        </div> 
      <div class="content_text" >
            <span class="img-text">　　　　　開催日；　　</span><%= room.date_time %><br></span>
            <span class="img-text">　　　　　競技名；　　</span><%= room.category.name %><br></tr>
            <span class="img-text">　　　　　参加料金；　</span><%= room.price %>円<br></span>
            <span class="img-text">　　　　　会場；　　　</span><%= room.place %><br></span>
            <span class="img-text">　　　　　主催者；　　</span><%= room.user.nickname %>　様<br></span>
      <% end %>
      </div> 
      </div>
        <% end %>
      <%= paginate @rooms %>

  </div>
</div>