<div class='footer'>
  <div class='f-contents'>
    <div class='f-details'>
      <h2 class='f-content-head'>サクスポについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'サクスポ利用規約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='f-details'>
      <h2 class='f-content-head'>サクスポを使う</h2>
      <ul>
        <li><%= link_to '募集を探す', "#", class: "footer-link" %></li>
        <li><%= link_to '人気のタグ', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='f-details'>
      <h2 class='f-content-head'>サクスポについて</h2>
      <ul>
        <li><%= link_to 'サクスポガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'サクスポロゴ利用ガイドライン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <p>© サクスポ</p>
</div>