<header class='c-top-bar'>
  <div class='c-top-bar__container'>
    <div class='c-top-bar__left-area'> 
      <%= link_to "Sakuspo!", root_path, class:"top-icon" %>
    </div>
    <div class="c-top-bar__right-area">
      <nav class="c-top-bar__gnav not-login">
        <ul>
      <% if user_signed_in? %>
          <li class="c-top-bar__gnav__item">
            <%= "#{current_user.nickname}でログイン中" %></li>
          <li class="c-top-bar__gnav__item">
          <div class="c-top-bar__gnav__login-button">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
            </div>
          </li>
      <% else %>
          <li class="c-top-bar__gnav__item"><div class="c-top-bar__gnav__login-button">
                <%= link_to 'ログイン' , new_user_session_path , class: "c-top-bar__gnav__login-button__description" %>
            </div>
          </li>
          <li class="c-top-bar__gnav__item"><div class="c-top-bar__gnav__register-button">
                <%= link_to '無料新規登録' , new_user_registration_path , class: "login-button__description" %>
            </div>
          </li>
        </ul>
      <% end %>  
      </nav>
    </div>
  </div>


  <div class='saishin'>
         <ul class="nav-lists">
          <li><%= link_to '募集情報作成' , new_room_path %></li>
          <li>スポーツ診断</li>
          <li>アクセス</li>
          <li>ブログ</li>
        </ul>
  </div>
  
</header>