<% breadcrumb :rooms %>

<div class='main'>
        <%=link_to (image_tag 'd15d275dcb53ef68d35759b84cb30d00.png' , size: '300x50' ,class: "purchase-btn-icon") , new_room_path %>
  <div class='select-reason-contents'>
    <div class='left-contents'>
      <hr class="dm">
      <p class='ad-footer-explain'>
        スポーツ一覧
      </p>
        <ul class="left-lists">
          <li>サッカー、フットサル</li><hr class="am"> 
          <li>ボルタリング</li><hr class="am"> 
          <li>野球</li><hr class="am"> 
          <li>ダーツ</li><hr class="am"> 
          <li>ボルタリング</li><hr class="am"> 
          <li>バレーボール</li><hr class="am"> 
          <li>バトミントン</li><hr class="am"> 
        </ul>
      <hr class="dm">
    </div>
  
  <%# 新規募集情報 %>
  <div class='ad-contents'>
      <div class='search'>
        <hr class="dm">
          <p class='ad-footer-explain'>
            募集を探す</p>
            <%= search_form_for @p, url: search_rooms_path do |f| %>
              <%= f.label :title_eq, '競技名' %>
              <%= f.collection_select :category_id_eq, @category, :id, :name, include_blank: '指定なし' %>
              <br>
              <%= f.label :title_eq, 'ルーム名' %>
              <%= f.collection_select :title_eq, @room_title, :title, :title,  include_blank: '指定なし' %>
              <br>
              <%= f.label :price, '価格：' %>
              <%= f.radio_button :price_lteq, '' %>指定なし
              <%= f.radio_button :price_lteq, '500' %>500円以下
              <%= f.radio_button :price_lteq, '1000' %>1000円以下
              <%= f.radio_button :price_lteq, '2500' %>2500円以下
              <%= f.radio_button :price_lteq, '5000' %>5000円以下
              <br>
              <%= f.submit '検索' %>
            <% end %>
        <hr class="dm"> 
     </div> 

      <hr class="dm">
      <p class='ad-footer-explain'>
        新着募集情報
      </p>
    <% @rooms.each do |room| %>
				  <%= link_to room_path(room.id) do %>
         <h2 class="img-title"><%= room.title %><br></h1>
      <div class="content_post" >
        <div class="content_image" >
            <%= image_tag room.image, :size => '200x200', class: "room-img" %>
        </div> 
        <div class="content_text" >
            <span class="img-text">　　　　　開催日；　　</span><%= room.date_time %><br></span>
				    <span class="img-text">　　　　　競技名；　　</span><%= room.category.name %><br></tr>
            <span class="img-text">　　　　　参加料金；　</span><%= room.price %>円<br></span>
            <span class="img-text">　　　　　会場；　　　</span><%= room.place %><br></span>
          <br>
          <br>
          <br>
            <span class="img-text">　　　　　主催者；　　</span><%= room.user.nickname %>　様<br></span>
          <% end %>
        </div> 
    </div>
		<% end %>
  <hr class="dm">
  <%# 新規募集情報 %>

</div>


  <%# /画面中央カテゴリごとの新着募集スポーツ部分 %>
  <div class='feature-contents'>
  </div>

  <%# その他スポーツ一覧 %>
  <div class='item-contents'>
  </div>
</div>
