<% breadcrumb :rooms %>
<%=link_to (image_tag 'd15d275dcb53ef68d35759b84cb30d00.png' , size: '300x50' ,class: "purchase-btn-icon") , new_room_path %>

<div class='contents'>
  <div class='left-contents'>
      <hr class="dm">
      <h1 class='ad-footer-explain'>
        一覧
      </h1>
        <ul class="left-lists">
          <li>HOME</li><hr class="am"> 
          <li>マイページ</li><hr class="am"> 
          <li>メッセージ</li><hr class="am"> 
          <li>募集一覧</li><hr class="am"> 
          <li>設定</li><hr class="am"> 
          <li>人気スポーツ情報</li><hr class="am"> 
        </ul>
      <hr class="dm">

      <h1 class='ad-footer-explain'>
        スポーツ一覧
      </h1>
        <ul class="left-lists">
          <li>サッカー、フットサル</li><hr class="am"> 
          <li>ボルタリング</li><hr class="am"> 
          <li>野球</li><hr class="am"> 
          <li>ダーツ</li><hr class="am"> 
          <li>ボルタリング</li><hr class="am"> 
          <li>バレーボール</li><hr class="am"> 
          <li>バトミントン</li><hr class="am"> 
        </ul>
      <hr class="dm">
  </div>
  
  
  <%# 新規募集情報 %>
  <div class='rihgt-contents'>
    <div class='search'>
        <hr class="dm">
          <h1 class='ad-footer-explain'>
            募集を探す</h1>
            <%= search_form_for @p, url: search_rooms_path ,class: 'search-content' do |f| %>
              <%= f.label :title_or_price_or_place_cont, '文字検索：' %>
              <%= f.text_field :title_or_price_or_place_cont, placeholder: "例 サッカー", :size => "50*50",class: 'search-conditions' %>
              <br>
              <%= f.label :title_eq, '競技名：' %>
              <%= f.collection_select :category_id_eq, @category, :id, :name, {}, class: "search-conditions",include_blank: '指定なし' %>
              <br>
              <%= f.label :date_time_eq, '開催日：' %>
              <%= f.date_field :date_time_eq , class: 'search-conditions'%>
              <br>
              <%= f.label :title_eq, 'ルーム名' %>
              <%= f.collection_select :title_eq, @room_title, :title, :title,  include_blank: '指定なし' ,class: 'search-conditions'%>
              <br>
              <%= f.label :price, '参加料金：' %>
              <%= f.radio_button :price_lteq, '' %>指定なし
              <%= f.radio_button :price_lteq, '500' %>500円以下
              <%= f.radio_button :price_lteq, '1000' %>1000円以下
              <%= f.radio_button :price_lteq, '2500' %>2500円以下
              <%= f.radio_button :price_lteq, '5000' %>5000円以下
              <br>
              <%= f.submit '検索する',class: 'search-submit' %>
            <% end %>
        <hr class="dm"> 
     </div> 

      <hr class="dm">
      <div class="new-rooms">
          <h1 class='ad-footer-explain'>
            新着募集情報
          </h1>
            <% @rooms.each do |room| %>
                <%= link_to room_path(room.id) do %>
                  <h2 class="img-title"><%= room.title %><br></h1>
          <div class="content_post" >
                <div class="content_image" >
                  <%= image_tag room.image, :size => '200x200', class: "room-img" %>
                </div> 
                <div class="content_text" >
                  <span class="img-text">　　　　　開催日；　　</span><%= room.date_time %><br></span>
                  <span class="img-text">　　　　　競技名；　　</span><%= room.category.name %><br></tr>
                  <span class="img-text">　　　　　参加料金；　</span><%= room.price %>円<br></span>
                  <span class="img-text">　　　　　会場；　　　</span><%= room.place %><br></span>
                  <span class="img-text">　　　　　主催者；　　</span><%= room.user.nickname %>　様<br></span>
            <% end %>
                </div> 
           </div>
        <% end %>
        <hr class="dm">
      
        <%= paginate @rooms %>

    </div>
  </div>
  <%# 新規募集情報 %>

</div> 