<!DOCTYPE html>
<html>
  <head>
    <title>Sakuspo31102</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <%= render "shared/header" %>
      <%= breadcrumbs separator: " &rsaquo; "  %>
      <%= yield %>
    <div class="wrapper">
    <%= render "shared/footer" %>
  </body>
</html>
